#header{
    background: #3399ff;
    text-align: center;
    width: 100%;
    height: 150px;
    font-size: 100px;
}
.profile {
    background: aqua;
    width: 25%;
    height: 700px;
    float: left;
}
.list{
    float: left;
}
.list ul li {
    text-align: center;
    border: solid 1px black;
}
.list p {
    color: red;
    text-align: left;
    border: solid 1px black;
    width: 500px;
    height: 70px;
}
.plus{
    margin: 0 0 0 10px;
    float: left;
    background: darkorchid;
    width: 300px;
    height: 70px;
    text-align: center;
}
.plus h1 {
    text-align: center;
}
.plus p {
    color: darkred;
    margin-top: 10px;
    border: solid 1px black;
    text-align: left;
    width: 300px;
    height: 200px;
}
.add {
    background: chartreuse;
    margin-top: 250px;
    margin-right: 10px;
    float: right;
    text-align: center;
    border: solid 1px black;
    width: 300px;
    height: 100px;
}
.add p {
    color: darkred;
    font-size: medium;
    margin-top: 50px;
    border: solid 1px black;
    text-align: left;
    width: 300px;
    height: 200px;

}

